$primary-color: hsl(300, 43%, 22%);
$secondary-color: hsl(333, 80%, 67%);
$dark-color: hsl(303, 10%, 53%);
$light-color: hsl(300, 24%, 96%);
$white-color: hsl(0, 0%, 100%);


$font-weights: (
    'regular': 400,
    'medium': 500,
    'bold': 700
);